@inject StateContainer StateContainer
@inject HttpClient Http
@implements IDisposable

<h2>Component 2</h2>

<p>Component 2 Property: <b>@StateContainer.Property</b></p>

<p>
    <button @onclick="ChangePropertyValue">Change Property from Component 2</button>
</p>

@if (!StateContainer.IsDataLoaded())
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Recipe</th>
                <th>Inputs</th>
                <th>Mods</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var recipe in StateContainer.DataManager.Recipes)
            {
            <tr>
                <td>@recipe.Description</td>
                <td>
                    <p class="magic">Magic @recipe.ItemType</p>
                    <img src="images/@(recipe.InputTypes[1]).png" alt="@recipe.InputNames[1]" title="@recipe.InputNames[1]" />
                    <img src="images/@(recipe.InputTypes[2]).png" alt="@recipe.InputNames[2]" title="@recipe.InputNames[2]" />
                    <img src="images/@(recipe.InputTypes[0]).png" alt="@recipe.InputNames[0]" title="@recipe.InputNames[0]" />
                </td>
                <td class="crafted">
                    @for (int i = 0; i < recipe.Mods.Length; i++)
                    {
                        @recipe.Mods[i].FullMod<br/>
                    }
                </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    protected override void OnInitialized()
    {
        StateContainer.OnChange += StateHasChanged;
    }

    protected override async Task OnInitializedAsync()
    {
        if (StateContainer.DataManager == null)
        {
            StateContainer.DataFiles = new Dictionary<DataFileTypes, string>();
            string cubeMain = await Http.GetStringAsync("data/CubeMain.txt");
            StateContainer.DataFiles.Add(DataFileTypes.CubeMain, cubeMain);
            string itemStatCost = await Http.GetStringAsync("data/ItemStatCost.txt");
            StateContainer.DataFiles.Add(DataFileTypes.ItemStatCost, itemStatCost);
            string magicPrefix = await Http.GetStringAsync("data/MagicPrefix.txt");
            StateContainer.DataFiles.Add(DataFileTypes.MagicPrefix, magicPrefix);
            string magicSuffix = await Http.GetStringAsync("data/MagicSuffix.txt");
            StateContainer.DataFiles.Add(DataFileTypes.MagicSuffix, magicSuffix);
            string properties = await Http.GetStringAsync("data/Properties.txt");
            StateContainer.DataFiles.Add(DataFileTypes.Properties, properties);
            string strings = await Http.GetStringAsync("data/string.txt");
            StateContainer.DataFiles.Add(DataFileTypes.Strings, strings);
            string expStrings = await Http.GetStringAsync("data/expansionstring.txt");
            StateContainer.DataFiles.Add(DataFileTypes.ExpStrings, expStrings);
            string patchStrings = await Http.GetStringAsync("data/patchstring.txt");
            StateContainer.DataFiles.Add(DataFileTypes.PatchStrings, patchStrings);
            DataManager dataManager = new DataManager(StateContainer);
            StateContainer.DataManager = dataManager;
        }
    }

    private void ChangePropertyValue()
    {
        StateContainer.SetProperty($"New value set in Component 2: {DateTime.Now}");

    }

    public void Dispose()
    {
        StateContainer.OnChange -= StateHasChanged;
    }
}