@inject StateContainer StateContainer
@inject HttpClient Http
@implements IDisposable

<h2>Component 2</h2>

<p>Component 2 Property: <b>@StateContainer.Property</b></p>

<p>
    <button @onclick="ChangePropertyValue">Change Property from Component 2</button>
</p>

@if (!StateContainer.IsDataLoaded())
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Recipe</th>
                <th>Inputs</th>
                <th>Mod 1</th>
                <th>Mod 2</th>
                <th>Mod 3</th>
                <th>Mod 4</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var recipe in StateContainer.DataManager.Recipes)
            {
                <tr>
                    <td>@recipe.Description</td>
                    <td>@recipe.Input1 + @recipe.Input2 + @recipe.Input3 + @recipe.Input4</td>
                    <td>@recipe.Mod1 (@recipe.Mod1Min - @recipe.Mod1Max)</td>
                    <td>@recipe.Mod2 (@recipe.Mod2Min - @recipe.Mod2Max)</td>
                    <td>@recipe.Mod3 (@recipe.Mod3Min - @recipe.Mod3Max)</td>
                    <td>@recipe.Mod4 (@recipe.Mod4Min - @recipe.Mod4Max)</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    protected override void OnInitialized()
    {
        StateContainer.OnChange += StateHasChanged;
    }

    protected override async Task OnInitializedAsync()
    {
        if (StateContainer.DataManager == null)
        {
            StateContainer.DataFiles = new Dictionary<DataFileTypes, string>();
            string cubeMain = await Http.GetStringAsync("data/CubeMain.txt");
            StateContainer.DataFiles.Add(DataFileTypes.CubeMain, cubeMain);
            string itemStatCost = await Http.GetStringAsync("data/ItemStatCost.txt");
            StateContainer.DataFiles.Add(DataFileTypes.ItemStatCost, itemStatCost);
            string magicPrefix = await Http.GetStringAsync("data/MagicPrefix.txt");
            StateContainer.DataFiles.Add(DataFileTypes.MagicPrefix, magicPrefix);
            string magicSuffix = await Http.GetStringAsync("data/MagicSuffix.txt");
            StateContainer.DataFiles.Add(DataFileTypes.MagicSuffix, magicSuffix);
            string properties = await Http.GetStringAsync("data/Properties.txt");
            StateContainer.DataFiles.Add(DataFileTypes.Properties, properties);
            string strings = await Http.GetStringAsync("data/string.txt");
            StateContainer.DataFiles.Add(DataFileTypes.Strings, strings);
            string expStrings = await Http.GetStringAsync("data/expansionstring.txt");
            StateContainer.DataFiles.Add(DataFileTypes.ExpStrings, expStrings);
            string patchStrings = await Http.GetStringAsync("data/patchstring.txt");
            StateContainer.DataFiles.Add(DataFileTypes.PatchStrings, patchStrings);
            DataManager dataManager = new DataManager(StateContainer);
            StateContainer.DataManager = dataManager;
        }
    }

    private void ChangePropertyValue()
    {
        StateContainer.SetProperty($"New value set in Component 2: {DateTime.Now}");

    }

    public void Dispose()
    {
        StateContainer.OnChange -= StateHasChanged;
    }
}